<html>
	<head>
		<link rel='stylesheet' type='text/css' href='media/JQ_Css/smoothness/jquery-ui-1.8.16.custom.css'>
		<link rel="stylesheet" type="text/css" href="media/contact_style.css" />
		{% include "rankProj/top_display.html" %}
	</head>
	<body>
		<div id ='portfolio_main_container' class='div_contact_main_container'>
			<p> Page Not Found </p>
		</div>
		<script type='text/javascript' src="media/JQ_Lib/jquery.js"></script>
		<script type='text/javascript' src="media/JQ_Lib/jquery-ui.js"></script>
		<script type="text/javascript" src="media/contact_script.js"></script>
		<script type='text/javascript' src="media/time_tracker_script.js"></script>
	</body>
	{% include "rankProj/footer.html" %}				
	
</html>