<html>
	<head>
		<link rel='stylesheet' type='text/css' href='/static_media_alex/JQ_Css/smoothness/jquery-ui-1.8.16.custom.css'>
		<link rel="stylesheet" type="text/css" href="/static_media_alex/contact/contact_style.css" />
		{% include "header.html" %}
	</head>
	<body>
		<div id ='portfolio_main_container' class='div_contact_main_container'>
			<div id='portfolio_tabs_bar'>
				<ul>
					<li><a href = "#CONT">CONTACT</a></li>		
				</ul>
				
				<div id="CONT">
					
					<!-- personal contact -->
					<div id='middle_main' class='div_middle_main'>						
						<div id ='picture_big_frame' class='div_picture_big_frame'>
							<div id='picture' class='div_picture_small_frame'>
								<img width='200' height='200' src='/static_media_alex/Images/contact_profile_pic.jpg'>
							</div>
						</div>
						
						<div id ='basic_big_frame' class='div_basic_big_frame'>
							<div id ='basic_title_frame' class='div_basic_title_frame'>
								<p class = 'font_basic_title'> {{ Contact.title_contact }}</p>
							</div>
							<div id = 'basic_info_desc_frame' class='div_basic_info_desc_frame'>
								<p class = 'font_basic_info_desc'>{{ Contact.email}}</p>								
							</div>							
						</div>
						
						<div id='blank_divider' class='div_blank_divider'></div>
						
						<div id ='basic_big_frame' class='div_basic_big_frame'>
							<div id ='basic_title_frame' class='div_basic_title_frame'>
								<p class = 'font_basic_title'>{{ Contact.title_research }}</p>
							</div>
							<div id = 'basic_info_desc_frame' class='div_basic_info_desc_frame'>
								<p class = 'font_basic_research_desc'>{{ Contact.research_interest }}</p>
							</div>							
						</div>	
					</div>
					
					<!-- line between profile and past prof(supervisors) -->
					<div class='past_supervisor_title_container'>
						<p class="supervisor_title_text" id="past_supervisors_title"> Past Supervisors </p>
					</div>
					
					
					<!-- supervisors -->
					{% for detail in Supervisor_detail %}
						<!-- <div class="dotted_line_under_each_supervisor">  -->
							<div class='div_supervisor_big_box'>
								<div id ='picture_big_frame' class='div_supervisor_picture_big_frame'>
									<div id='picture' class='div_picture_small_frame'>
										<a href= {{detail.supervisor.link}}>
											<img width='180' height='180' src= '/static_media_alex/{{detail.supervisor.image_path}}' >
										</a>
									</div>
									<br>
									<p class = 'supervisor_font'> {{ detail.supervisor.email}} </p>
									<br>
									<div class='supervisor_link_email_frame'> 
										<p class = 'supervisor_font'>
											<a href= {{detail.supervisor.link}}> {{ detail.supervisor.link}} </a>
										</p>
									</div>
									{% for tags in detail.research_interest %}
									<div class='tag_opac'>
										<p class = 'tag_font'>{{ tags }} </p><br>
									</div>
									{% endfor %}
									
									
								</div>
								
								<div class='div_basic_big_frame'>
									<div id ='basic_title_frame' class='div_basic_title_frame'>
										<p class = 'font_basic_title'> {{ detail.supervisor.name }}</p>
									</div>
									
									<div id = 'basic_info_desc_frame' class='div_basic_info_desc_frame'>
										<div class="position_and_university_title"> 
											 {{ detail.supervisor.position}}, {{ detail.supervisor.university }}
										</div>
										
										<p class = 'supervisor_font'>
											{% for depart in detail.department %}
												{{ depart }} 
											{% endfor %}
										</p>
										<br>
										<p class = 'supervisor_font'> 
											{% for affili in detail.affiliation %}
												{{ affili }} 
											{% endfor %}
										</p>
										
										<div class="div_collaborate_frame">
											<p class = 'supervisor_font'>Collaborated with me:</p>
											<p class = 'supervisor_collaborate_start-end_date'>{{ detail.supervisor.start_date }} - {{ detail.supervisor.end_date }}</p>
										</div>
										<p class = 'supervisor_font'>Selected publications: </p>
											<br>
											{% for famous in detail.famous_paper %}
												<div class = 'div_famous_paper_organize'>
													<p class = 'p_famous_paper_organize'> <b> {{ famous.title }} </b></p>
													<p class = 'p_famous_paper_organize_small'> {{ famous.author }}, {{ famous.conference }} </p>
												</div>
											{% endfor %}
									</div>
								</div>
								<div id='blank_divider' class='div_blank_divider'></div>
							</div>
						<!-- </div> -->
					{% endfor %}
				</div>
				
				
				
				
				


			</div>			
		</div>
		<script type='text/javascript' src="/static_media_alex/JQ_Lib/jquery.js"></script>
		<script type='text/javascript' src="/static_media_alex/JQ_Lib/jquery-ui.js"></script>
		<script type="text/javascript" src="/static_media_alex/contact/contact_script.js"></script>
	</body>
	{% include "footer.html" %}				
	
</html>
